<%- include('head/header') %>
<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Add Products</h1>
          <form action="/products" method="post" enctype="multipart/form-data">
            <label for="">Title</label>
            <input type="text" name="name" class="form-control">

            <label for="">Select Brand</label>
            <select name="brandId" id="" class="form-control">
               <option value="">choose...</option>
               <% for( let brand of showData.brandList ) { %>
               <option value="<%= brand._id %>"><%= brand.name %></option>
               <% } %>
            </select>

            <label for="">Select Categorie</label>
            <select name="categorieId" id="" class="form-control">
                <option value="">choose...</option>
                <% for( let categorie of viewData.categorieList) { %>
                <option value="<%= categorie._id %>"><%= categorie.name %></option>
                <% } %>
            </select>

            <label for="">Price</label>
            <input type="number" name="price" class="form-control">

            <label for="">Stock Quantity</label>
            <input type="number" name="stock" class="form-control">

            <label for="">Description</label>
            <input type="text" name="description" class="form-control">

            <label for="">image</label>
            <input type="file" name="image" class="form-control" multiple>

            <button type="submit" class="btn btn-success mt-4">Add Product</button>
          </form>
      </div>
    </div>
  </div>
</div>
<%- include('head/footer') %>