<%- include('head/header') %>
  <div class="container" style="margin-left: 248px;">
    <div class="row mt-5 pt-3 ps-3">
      <div class="col-lg-6">
        <h1>Add Products</h1>
        <div id="error-show"></div>
        <form action="/products" method="post" enctype="multipart/form-data" id="product-form">
          <div>
            <label for="">Title</label>
            <input type="text" name="name" id="name" class="form-control">
            <span id="name-error" class="text-danger"></span>
          </div>
          <div>
            <label for="">Select Brand</label>
            <select name="brandId" value="" id="brandId" class="form-control">
              <option value="">choose...</option>
              <% for( let brand of showData.brandList ) { %>
                <option value="<%= brand._id %>">
                  <%= brand.name %>
                </option>
                <% } %>
            </select>
            <span id="brand-error" class="text-danger"></span>
          </div>
          <div>
            <label for="">Select Category</label>
            <select name="categorieId" value="" id="categorieId" class="form-control">
              <option value="">choose...</option>
              <% for( let categorie of viewData.categorieList) { %>
                <option value="<%= categorie._id %>">
                  <%= categorie.name %>
                </option>
                <% } %>
            </select>
            <span id="category-error" class="text-danger"></span>
          </div>
          <div>
            <label for="">Price</label>
            <input type="number" name="price" id="price" class="form-control">
            <span id="price-error" class="text-danger"></span>
          </div>
          <div>
            <label for="">Stock Quantity</label>
            <input type="number" name="stock" id="stock" class="form-control">
            <span id="stock-error" class="text-danger"></span>
          </div>
          <div>
            <label for="">Product Discount</label>
            <input type="number" name="discount" id="discount" class="form-control">
            <span id="discount-error" class="text-danger"></span>
          </div>
          <div>
            <label for="">Description</label>
            <input type="text" name="description" id="description" class="form-control">
            <span id="description-error" class="text-danger"></span>
          </div>
          <div>
            <label for="">image</label>
            <input type="file" name="image" id="image" class="form-control" multiple>
            <span id="image-error" class="text-danger"></span>
          </div>
          <button type="submit" class="btn btn-success mt-4">Add Product</button>
        </form>
      </div>
    </div>
  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/static/admin/addproducts.js"></script>
  <%- include('head/footer') %>