<%- include('head/header') %>
    <link rel="stylesheet" href="/static/user/popup.css">
    <style>
        .dropdown-menu li:hover {
            background: rgb(43, 43, 39);
            color: #fff;
        }
    </style>
    <!-- popup  -->
    <div class="popup shadow" id="popup">
        <img src="https://cdn.pixabay.com/photo/2014/04/02/11/01/tick-305245_640.png" alt="">
        <h2>Success</h2>
        <p id="message-alert"></p>
        <button class="bttn" type="button" onclick="closePopup()">Ok</button>
    </div>

    <div id="page-content-wrapper">
        <div class="container" style="margin-left: 248px;">
            <div class="row mt-5">
                <div class="col-lg-12">

                    <div class="container">
                        <div style="display: flex;
                        justify-content: space-between;">
                            <h1>Coupon Management</h1>
                            <button id="myButton" class="btn btn-outline-dark mb-5"><i
                                    class="fa-solid fa-plus fs-2"></i></button>
                        </div>
                        <div id="error"></div>



                        <!-- Coupon Listing -->
                        <div class="card row shadow mt-5" id="couponlist">
                            <div class="card-body col-12">
                                <h2>Coupon List</h2>


                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Coupon Code</th>
                                            <th scope="col">min.Purchase</th>
                                            <th scope="col">min.Discount</th>
                                            <th scope="col">max.Purchase</th>
                                            <th scope="col">max.Discount</th>
                                            <th scope="col">Max.Usage</th>
                                            <th scope="col">Current Usage</th>
                                            <th scope="col">Created Date</th>
                                            <th scope="col">Expire Date</th>
                                            <th scope="col">Status</th>
                                            <th scope="col"></th>
                                            <!-- Add more columns if needed -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let rupee = new Intl.NumberFormat('en-IN', {
                                            style: 'currency',
                                            currency: 'INR',
                                        }); %>
                                        <% if (couponList && couponList!==null && couponList.length) { %>
                                            <% couponList.forEach((row,index)=> { %>
                                                <tr>
                                                    <td>
                                                        <%= row.code %>
                                                    </td>
                                                    <td>
                                                        <%= rupee.format(row.minPurchase) %>
                                                    </td>
                                                    <td>
                                                        <%= row.minDiscount+'%' %>
                                                    </td>
                                                    <td>
                                                        <%= rupee.format(row.maxPurchase) %>
                                                    </td>
                                                    <td>
                                                        <%= row.maxDiscount+'%' %>
                                                    </td>
                                                    <td>
                                                        <%= row.maxusage %>
                                                    </td>
                                                    <td>
                                                        <%= row.used_count %>
                                                    </td>
                                                    <td>
                                                        <%= row.created_at.toISOString().split('T')[0] %>
                                                    </td>
                                                    <td>
                                                        <% const currentDate=new Date().toISOString().split('T')[0]; %>
                                                            <% if (row.expireDate < currentDate) { %>
                                                                <p class="text-danger">coupon Expired <br> (<%=
                                                                        row.expireDate %>)</p>
                                                                <% }else{ %>
                                                                    <%= row.expireDate %>
                                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <% if (row.isActive) { %>
                                                            <p class="text-success">Active</p>
                                                            <% }else{ %>
                                                                <p class="text-danger">Deactivated</p>
                                                                <% } %>
                                                    </td>
                                                    <td>
                                                        <i class="fa-solid fa-ellipsis-vertical dropdown-toggle-split"
                                                            data-bs-toggle="dropdown" aria-expanded="false"></i>
                                                        <ul class="dropdown-menu shadow">
                                                            <% if (row.isActive) { %>
                                                                <li onclick="deactivate('<%= row._id %>')">Deactivate
                                                                </li>
                                                                <% }else{ %>
                                                                    <li onclick="Activate('<%= row._id %>')">Activate
                                                                    </li>
                                                                    <% } %>
                                                                        <li onclick="deleteCoupon('<%= row._id %>')">
                                                                            Delete</li>
                                                                        <li
                                                                            onclick="couponEditForm('<%= JSON.stringify({id:row._id,minDiscount:row.minDiscount,minPurchase:row.minPurchase,maxDiscount:row.maxDiscount,maxPurchase:row.maxPurchase,maxusage:row.maxusage,expireDate:row.expireDate}) %>')">
                                                                            Edit</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                                    <% }else{ %>
                                                        <div class="alert alert-dismissible fade show alert-warning"
                                                            role="alert">
                                                            <button class="btn-close" type="button"
                                                                data-bs-dismiss="alert" aria-label="close"></button>
                                                            <strong>
                                                                Coupon is Empty!
                                                            </strong>
                                                        </div>
                                                        <% } %>


                                                            <!-- Add more rows for other coupons -->
                                    </tbody>
                                </table>
                            </div>
                            <!-- pagination -->
                            <div class="container">
                                <div class="col-12 ms-4 ps-5">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <% if (prevPage) { %>
                                                <li class="page-item"><a class="page-link"
                                                        href="/coupons/?page=<%= prevPage %>">Previous</a></li>
                                                <% } %>
                                                    <% for (let i=1; i <=pages; i++) { %>
                                                        <% if (i===currentPage) { %>
                                                            <li class="page-item active"><span class="page-link">
                                                                    <%= i %>
                                                                </span></li>
                                                            <% } else { %>
                                                                <li class="page-item"><a class="page-link"
                                                                        href="/coupons/?page=<%= i %>">
                                                                        <%= i %>
                                                                    </a></li>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% if (nextPage) { %>
                                                                            <li class="page-item"><a class="page-link"
                                                                                    href="/coupons/?page=<%= nextPage %>">Next</a>
                                                                            </li>
                                                                            <% } %>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- /pagination -->
                        </div>


                        <!-- Add Coupon Form -->
                        <div class="card mb-4 mt-5 col-12 col-md-8 shadow" id="couponform" style="display: none;">
                            <div class="card-body">
                                <h2>Add Coupon</h2>
                                <!-- <form action="/coupons" method="POST"> -->
                                <div class="form-group">
                                    <label for="minDiscount">Discount in percentage</label>
                                    <input type="number" class="form-control" id="minDiscount" name="minDiscount"
                                        placeholder="" required>
                                </div>
                                <div class="form-group">
                                    <label for="maxDiscount">Maximum Discount in percentage(optional)</label>
                                    <input type="number" class="form-control" id="maxDiscount" name="maxDiscount"
                                        placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="minPurchase">Minimum Purchase</label>
                                    <input type="number" class="form-control" id="minPurchase" name="minPurchase"
                                        placeholder="" required>
                                </div>
                                <div class="form-group">
                                    <label for="maxPurchase">Maximum Purchase for eligible maximum
                                        discount(Optional)</label>
                                    <input type="number" class="form-control" id="maxPurchase" name="maxPurchase"
                                        placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="amount">Maximum usage</label>
                                    <input type="number" class="form-control" id="maxusage" name="maxusage"
                                        placeholder="" required>
                                </div>
                                <div class="form-group">
                                    <label for="expireDate">Expiration Date</label>
                                    <input type="date" class="form-control" id="expireDate" name="expireDate" required>
                                </div>
                                <button onclick="addCoupon()" class="btn btn-primary">Add Coupon</button>
                                <!-- </form> -->
                            </div>
                        </div>


                    </div>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


                </div>
            </div>
        </div>
    </div>
    <script>
        async function Activate(id) {
            const response = await fetch(`/coupons/coupon-activate/${id}`, { method: 'get' })
            const resbody = await response.json()
            if (resbody.success) {
                console.log(resbody.message)
                document.getElementById('message-alert').innerText = resbody.message
                openPopup()
            } else {
                alert(resbody.message)
            }
        }
        async function deactivate(id) {
            try {
                const response = await fetch(`/coupons/coupon-deactivate/${id}`, { method: 'get' })
                const resbody = await response.json()
                if (resbody.success) {
                    console.log(resbody.message)
                    document.getElementById('message-alert').innerText = resbody.message
                    openPopup()
                } else {
                    alert(resbody.message);
                }
            } catch (error) {
                console.log(error)
                alert(error)
            }
        }
        async function deleteCoupon(id) {
            try {
                const response = await fetch(`/coupons/delete-coupon/${id}`, { method: 'get' })
                const resbody = await response.json()
                if (resbody.success) {
                    document.getElementById('message-alert').innerText = resbody.message
                    openPopup();
                } else {
                    alert(resbody.message)
                }
            } catch (error) {
                alert(error)
            }
        }
        async function addCoupon() {
            try {
                const minDiscount = document.getElementById('minDiscount').value
                const minPurchase = document.getElementById('minPurchase').value
                const maxDiscount = document.getElementById('maxDiscount').value
                const maxPurchase = document.getElementById('maxPurchase').value
                const maxusage = document.getElementById('maxusage').value
                const expireDate = document.getElementById('expireDate').value
                const response = await fetch(`/coupons`, {
                    method: 'post',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        minDiscount: minDiscount,
                        minPurchase: minPurchase,
                        maxDiscount: maxDiscount,
                        maxPurchase: maxPurchase,
                        maxusage: maxusage,
                        expireDate: expireDate
                    })
                })
                const resbody = await response.json()
                if (resbody.success) {
                    document.getElementById('message-alert').innerText = resbody.message
                    openPopup();
                } else {
                    alert('failed to add coupon...');
                    alert(resbody.message)
                }
            } catch (error) {
                console.log(error)
            }
        }
        function openPopup() {
            popup.classList.add('open-popup');

        }
        function closePopup() {
            window.location.reload()
            popup.classList.remove('open-popup');
            location.reload()
        }
        const errorMsg = document.getElementById('error');

        function couponEditForm(data) {
            try {
                const couponData = JSON.parse(data);
                const editform = document.getElementById('couponlist')
                editform.innerHTML = `
                            <div class="card-body">
                                <h2>Edit Coupon</h2>
                                <div class="form-group">
                                    <label for="minDiscount">Discount in percentage</label>
                                    <input type="number" class="form-control" id="minDiscount" value="${couponData.minDiscount}" name="minDiscount" placeholder=""
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="maxDiscount">Maximum Discount in percentage(optional)</label>
                                    <input type="number" class="form-control" id="maxDiscount" value="${couponData.maxDiscount}" name="maxDiscount" placeholder="" >
                                </div>
                                <div class="form-group">
                                    <label for="minPurchase">Minimum Purchase</label>
                                    <input type="number" class="form-control" id="minPurchase" value="${couponData.minPurchase}" name="minPurchase"
                                        placeholder="" required>
                                </div>
                                <div class="form-group">
                                    <label for="maxPurchase">Maximum Purchase for eligible maximum discount(Optional)</label>
                                    <input type="number" class="form-control" id="maxPurchase" value="${couponData.maxPurchase}" name="maxPurchase"
                                        placeholder="" >
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                    <label for="amount">Maximum usage</label>
                                    <input type="number" class="form-control" id="maxusage" value="${couponData.maxusage}" name="maxusage" placeholder=""
                                        required>
                                     </div>
                                    <div class="form-group">
                                        <label for="expireDate">Expiration Date</label>
                                        <input type="date" class="form-control" id="expireDate" value="${couponData.expireDate}" name="expireDate"
                                            required>
                                    </div>
                                    <button type="submit" class="btn btn-primary" onclick="couponEdit('${couponData.id}')">Update changes</button>
                            </div>`
            } catch (error) {
                console.log(error)
                alert('Somthing trouble at function couponEditForm()');
            }
        }

        async function couponEdit(couponId) {
            try {
                const minDiscount = document.getElementById('minDiscount').value
                const minPurchase = document.getElementById('minPurchase').value
                const maxDiscount = document.getElementById('maxDiscount').value
                const maxPurchase = document.getElementById('maxPurchase').value
                const maxusage = document.getElementById('maxusage').value
                const expireDate = document.getElementById('expireDate').value
                const response = await fetch(`/coupons/edit-coupon/${couponId}/${minDiscount}/${minPurchase}/${maxDiscount}/${maxPurchase}/${expireDate}/${maxusage}`, { method: 'get' })
                const resbody = await response.json();
                if (resbody.success) {
                    document.getElementById('message-alert').innerText = resbody.message
                    openPopup();
                } else {
                    alert(resbody.message)
                    errorMsg.innerHTML = `
                <div class="alert alert-dismissible fade show alert-danger" role="alert">
                 <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
                     <strong>${resbody.message}</strong>
              </div>`
                }
            } catch (error) {
                console.log(error)
                alert('Somthing went wrong at function couponEdit()');
            }
        }
        const button = document.getElementById('myButton')
        button.addEventListener('click', function () {
            if (button.innerHTML === '<i class="fa-solid fa-plus fs-2"></i>') {
                button.innerHTML = '<i class="fa-solid fa-minus fs-2"></i>';
                document.getElementById('couponform').style.display = 'block'
                document.getElementById('couponlist').style.display = 'none'
            } else {
                button.innerHTML = '<i class="fa-solid fa-plus fs-2"></i>';
                document.getElementById('couponform').style.display = 'none'
                document.getElementById('couponlist').style.display = 'block'
            }
        });

        function openPopup() {
            popup.classList.add('open-popup');
        }
        function closePopup() {
            popup.classList.remove('open-popup');
            setTimeout(() => {
                location.reload()
            }, 500)
        }

    </script>
    <%- include('head/footer') %>