<%- include('head/header') %>
    <link rel="stylesheet" href="/static/user/popup.css">
    <style>
        .dropdown-menu li:hover {
            background: rgb(43, 43, 39);
            color: #fff;
        }
    </style>
    <!-- popup  -->
    <div class="popup shadow" id="popup">
        <img src="https://cdn.pixabay.com/photo/2014/04/02/11/01/tick-305245_640.png" alt="">
        <h2>Success</h2>
        <p id="message-alert"></p>
        <button class="bttn" type="button" onclick="closePopup()">Ok</button>
    </div>

    <div id="page-content-wrapper">
        <div class="container" style="margin-left: 248px;">
            <div class="row mt-5">
                <div class="col-lg-12">

                    <div class="container">
                        <div style="display: flex;
                        justify-content: space-between;">
                            <h1>Coupon Management</h1>
                            <button id="myButton" class="btn btn-outline-dark mb-5">
                                <i class="fa-solid fa-plus fs-2"></i></button>
                        </div>
                        <div id="error"></div>



                        <!-- Coupon Listing -->
                        <div class="card row shadow mt-5" id="couponlist">
                            <div class="card-body col-12">
                                <h2>Coupon List</h2>


                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Coupon Code</th>
                                            <th scope="col">min.Purchase</th>
                                            <th scope="col">min.Discount</th>
                                            <th scope="col">max.Purchase</th>
                                            <th scope="col">max.Discount</th>
                                            <th scope="col">Max.Usage</th>
                                            <th scope="col">Current Usage</th>
                                            <th scope="col">Created Date</th>
                                            <th scope="col">Expire Date</th>
                                            <th scope="col">Status</th>
                                            <th scope="col"></th>
                                            <!-- Add more columns if needed -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let rupee=new Intl.NumberFormat('en-IN', { style: 'currency' ,
                                            currency: 'INR' , }); %>
                                            <% if (couponList && couponList!==null && couponList.length) { %>
                                                <% couponList.forEach((row,index)=> { %>
                                                    <tr>
                                                        <td>
                                                            <%= row.code %>
                                                        </td>
                                                        <td>
                                                            <%= rupee.format(row.minPurchase) %>
                                                        </td>
                                                        <td>
                                                            <%= row.minDiscount+'%' %>
                                                        </td>
                                                        <td>
                                                            <%= rupee.format(row.maxPurchase) %>
                                                        </td>
                                                        <td>
                                                            <%= row.maxDiscount+'%' %>
                                                        </td>
                                                        <td>
                                                            <%= row.maxusage %>
                                                        </td>
                                                        <td>
                                                            <%= row.used_count %>
                                                        </td>
                                                        <td>
                                                            <%= row.created_at.toISOString().split('T')[0] %>
                                                        </td>
                                                        <td>
                                                            <% const currentDate=new Date().toISOString().split('T')[0];
                                                                %>
                                                                <% if (row.expireDate < currentDate) { %>
                                                                    <p class="text-danger">coupon Expired <br> (<%=
                                                                            row.expireDate %>)</p>
                                                                    <% }else{ %>
                                                                        <%= row.expireDate %>
                                                                            <% } %>
                                                        </td>
                                                        <td>
                                                            <% if (row.isActive) { %>
                                                                <p class="text-success">Active</p>
                                                                <% }else{ %>
                                                                    <p class="text-danger">Deactivated</p>
                                                                    <% } %>
                                                        </td>
                                                        <td>
                                                            <i class="fa-solid fa-ellipsis-vertical dropdown-toggle-split"
                                                                data-bs-toggle="dropdown" aria-expanded="false"></i>
                                                            <ul class="dropdown-menu shadow">
                                                                <% if (row.isActive) { %>
                                                                    <li onclick="deactivate('<%= row._id %>')">
                                                                        <i class="fa-solid fa-circle text-danger"></i>
                                                                        Deactivate
                                                                    </li>
                                                                    <% }else{ %>
                                                                        <li onclick="Activate('<%= row._id %>')">
                                                                            <i
                                                                                class="fa-solid fa-circle text-success"></i>
                                                                            Activate
                                                                        </li>
                                                                        <% } %>
                                                                            <li
                                                                                onclick="deleteCoupon('<%= row._id %>')">
                                                                                <i class="fa-solid fa-trash"></i>
                                                                                Delete
                                                                            </li>
                                                                            <li
                                                                                onclick="couponEditForm('<%= JSON.stringify({id:row._id,minDiscount:row.minDiscount,minPurchase:row.minPurchase,maxDiscount:row.maxDiscount,maxPurchase:row.maxPurchase,maxusage:row.maxusage,expireDate:row.expireDate}) %>')">
                                                                                <i
                                                                                    class="fa-regular fa-pen-to-square"></i>
                                                                                Edit
                                                                            </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                                        <% }else{ %>
                                                            <div class="alert alert-dismissible fade show alert-warning"
                                                                role="alert">
                                                                <button class="btn-close" type="button"
                                                                    data-bs-dismiss="alert" aria-label="close"></button>
                                                                <strong>
                                                                    Coupon is Empty!
                                                                </strong>
                                                            </div>
                                                            <% } %>


                                                                <!-- Add more rows for other coupons -->
                                    </tbody>
                                </table>
                            </div>
                            <!-- pagination -->
                            <div class="container">
                                <div class="col-12 ms-4 ps-5">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <% if (prevPage) { %>
                                                <li class="page-item"><a class="page-link"
                                                        href="/coupons/?page=<%= prevPage %>">Previous</a></li>
                                                <% } %>
                                                    <% for (let i=1; i <=pages; i++) { %>
                                                        <% if (i===currentPage) { %>
                                                            <li class="page-item active"><span class="page-link">
                                                                    <%= i %>
                                                                </span></li>
                                                            <% } else { %>
                                                                <li class="page-item"><a class="page-link"
                                                                        href="/coupons/?page=<%= i %>">
                                                                        <%= i %>
                                                                    </a></li>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% if (nextPage) { %>
                                                                            <li class="page-item"><a class="page-link"
                                                                                    href="/coupons/?page=<%= nextPage %>">Next</a>
                                                                            </li>
                                                                            <% } %>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- /pagination -->
                        </div>


                        <!-- Add Coupon Form -->
                        <div class="card mb-4 mt-5 col-12 col-md-8 shadow" id="couponform" style="display: none;">
                            <div class="card-body">
                                <h2>Add Coupon</h2>
                                <!-- <form action="/coupons" method="POST"> -->
                                <div class="form-group">
                                    <label for="minDiscount">Discount in percentage</label>
                                    <input type="number" class="form-control" id="minDiscount" name="minDiscount"
                                        placeholder="" required>
                                        <span id="minDiscount-error" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="maxDiscount">Maximum Discount in percentage(optional)</label>
                                    <input type="number" class="form-control" id="maxDiscount" name="maxDiscount"
                                        placeholder="">
                                        <span id="maxDiscount-error" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="minPurchase">Minimum Purchase</label>
                                    <input type="number" class="form-control" id="minPurchase" name="minPurchase"
                                        placeholder="" required>
                                        <span id="minPurchase-error" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="maxPurchase">Maximum Purchase for eligible maximum
                                        discount(Optional)</label>
                                    <input type="number" class="form-control" id="maxPurchase" name="maxPurchase"
                                        placeholder="">
                                        <span id="maxPurchase-error" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="amount">Maximum usage</label>
                                    <input type="number" class="form-control" id="maxusage" name="maxusage"
                                        placeholder="" required>
                                        <span id="maxusage-error" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="expireDate">Expiration Date</label>
                                    <input type="date" class="form-control" id="expireDate" name="expireDate" required>
                                    <span id="expireDate-error" class="text-danger"></span>
                                </div>
                                <span id="common-error" class="text-danger"></span> <br>
                                <button onclick="addCoupon()" class="btn btn-primary">Add Coupon</button>
                                <!-- </form> -->
                            </div>
                        </div>


                    </div>
                    
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/admin/coupon.js"></script>
    <script>


    </script>
    <%- include('head/footer') %>