<%- include('head/header') %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js"></script>
    <style type="text/css">
        html,
        body,
        #container {
            width: 100%;
            height: 90%;
            margin: 0;
            padding: 0;
        }
    </style>


    <link href="/static/error/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/error/css/style.css" rel="stylesheet">
    <% let rupee=new Intl.NumberFormat('en-IN', { style: 'currency' , currency: 'INR' , }); %>

        <div id="page-content-wrapper">
            <div class="container" style="margin-left: 235px;">
                <div class="row dash-container  p-2 pb-4">
                    <div class="col-lg-12 col-md-12" id="sales-report-container">
                        <p class="float-end" onclick="downloadInvoice()"><i
                                class="fa-solid fa-download fs-3 text-white "></i></p>
                        <!-- Sale & Revenue Start -->
                        <div class="container-fluid pt-4 px-4">
                            <div class="row g-4">
                                <div class="col-sm-6 col-xl-3 pb-3">
                                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                        <i class="fa fa-chart-line fa-3x text-warning"></i>
                                        <div class="ms-3">
                                            <p class="mb-2">Today Sale</p>
                                            <h6 class="mb-0">
                                                <%= rupee.format(newarr[newarr.length-1].totalSale) %>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xl-3">
                                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                        <i class="fa fa-chart-bar fa-3x text-primary"></i>
                                        <div class="ms-3">
                                            <p class="mb-2">Total Sale</p>
                                            <h6 class="mb-0">
                                                <%= rupee.format(totalSales) %>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xl-3">
                                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                        <i class="fa fa-chart-area fa-3x text-danger"></i>
                                        <div class="ms-3">
                                            <p class="mb-2">Today Orders</p>
                                            <h6 class="mb-0">
                                                <%= newarr[newarr.length-1].count %>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xl-3">
                                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                        <i class="fa fa-chart-pie fa-3x text-secondary"></i>
                                        <div class="ms-3">
                                            <p class="mb-2">Total Orders</p>

                                            <% let totalcount=0 %>
                                                <% for( let i=0; i < newarr.length; i++ ) { totalcount+=newarr[i].count;
                                                    } %>
                                                    <h6 class="mb-0">
                                                        <%= totalcount %>
                                                    </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sale & Revenue End -->

                        <!-- Chart Start -->
                        <div class="container-fluid pt-4 px-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-xl-12">
                                    <div style="height: 700px;" class="bg-light rounded p-4">
                                        <div class="d-flex row">
                                            <h5 class="mb-1">Sales Report</h5>
                                            <div class="d-flex flex-row-reverse">
                                                <p onclick="Graph('year')" class="me-3" id="year"
                                                    style="cursor: pointer;">Year</p>
                                                <p onclick="Graph('month')" class="me-3" id="month"
                                                    style="cursor: pointer;">Month</p>
                                                <p onclick="Graph('week')" class="me-3" id="week"
                                                    style="cursor: pointer;">week</p>
                                                <p onclick="Graph('day')" class="me-3" id="day"
                                                    style="cursor: pointer;">Day</p>
                                            </div>
                                        </div>
                                        <div id="container"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Chart End -->

                        <!-- Most purchased products -->

                        <div class="container-fluid pt-4 px-4">
                            <div class="bg-light rounded p-4">
                                    <h5 class="mb-4">Most purchased products</h5>
                                
                                <div class="table-responsive" id="">
                                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                                        <thead>
                                            <tr class="text-dark">
                                                <th class="text-center" scope="col">SL.No</th>
                                                <th scope="col">Product</th>
                                                <th class="text-center" scope="col">Price</th>
                                                <th class="text-center" scope="col">Sold Count</th>
                                                <th class="text-center" scope="col">total Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% topProducts.forEach((row,index)=> { %>
                                                <tr>
                                                    <td class="text-center">
                                                        <%= index+1 %>
                                                    </td>
                                                    <td>
                                                        <%= row.productName %>
                                                    </td>
                                                    <td class="text-center">
                                                        <%= row.productPrice %>
                                                    </td>
                                                    <td class="text-center">
                                                        <%= row.totalQuantity %>
                                                    </td>
                                                    <td class="text-center">
                                                        <%= row.totalProductPrice %>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /Most purchased products -->

                        <!-- Recent Sales Start -->
                        <div class="container-fluid pt-4 px-4">
                            <div class="bg-light text-center rounded p-4">
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <h5 class="mb-0">Recent Salse</h5>
                                    <!-- <a href="">Show All</a> -->
                                    <div class="d-flex">
                                        <i onclick="previousButton()" class="fa-solid fa-chevron-left me-2"></i>
                                        <span id="pagenumber">1</span>
                                        <i onclick="nextButton()" class="fa-solid fa-chevron-right ms-2"></i>
                                    </div>
                                </div>
                                <div class="table-responsive" id="orderTable">
                                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                                        <thead>
                                            <tr class="text-dark">
                                                <th scope="col">Date</th>
                                                <th scope="col">Invoice</th>
                                                <th scope="col">Customer</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (allOrders) { %>
                                                <% for( let i=0; i < 8; i++ ) { %>
                                                    <tr>
                                                        <td>
                                                            <%= allOrders[i].date.toISOString().split('T')[0] %>
                                                        </td>
                                                        <td>
                                                            <%= allOrders[i].invoice %>
                                                        </td>
                                                        <td>
                                                            <%= allOrders[i].address.addressName %>
                                                        </td>
                                                        <% let rupee=new Intl.NumberFormat('en-IN', { style: 'currency'
                                                            , currency: 'INR' , }); %>
                                                            <td>
                                                                <%= rupee.format(allOrders[i].totalAmount+allOrders[i].walletAmount)
                                                                    %>
                                                            </td>
                                                            <td>Paid</td>
                                                    </tr>
                                                    <% } %>


                                                        <% }else{ %>
                                                            <h2>Order list is empty</h2>
                                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Recent Sales End -->

                        <!-- Widgets Start -->
                        <div class="container-fluid pt-4 px-4">
                            <div class="row g-4">

                                <div class="col-sm-12 col-md-6">
                                    <div class="h-100 bg-light rounded p-4" id="todoList">
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <h5 class="mb-0">To Do List</h5>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <input class="form-control bg-transparent" id="todoMsg" type="text"
                                                placeholder="Enter task">
                                            <button type="button" onclick="toDoList()"
                                                class="btn btn-primary ms-2">Add</button>
                                        </div>
                                        <% if (todoMessage.length) { %>
                                            <% for( let i=0; i < todoMessage.length; i++ ) { %>
                                                <div class="d-flex align-items-center border-bottom py-2">
                                                    <i class="fa-regular fa-circle-check"></i>
                                                    <div class="w-100 ms-3">
                                                        <div
                                                            class="d-flex w-100 align-items-center justify-content-between">
                                                            <span>
                                                                <%= todoMessage[i].message %>
                                                            </span>
                                                            <button onclick="deleteMessage('<%= todoMessage[i]._id %>')"
                                                                class="btn btn-sm"><i class="fa fa-times"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>

                                                    <% } %>

                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="h-100 bg-light rounded p-4">
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <h6 class="mb-0">Calender</h6>
                                            <a href="">Show All</a>
                                        </div>
                                        <div id="calender"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Widgets End -->


                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

        <script src="/static/error/lib/easing/easing.min.js"></script>
        <script src="/static/error/lib/waypoints/waypoints.min.js"></script>
        <script src="/static/error/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/static/error/lib/tempusdominus/js/moment.min.js"></script>
        <script src="/static/error/lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="/static/error/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
        <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
        <script src="/static/error/js/main.js"></script>
        <script src="/static/admin/dashboard.js"></script>
        <script>
            const newarr = JSON.parse(`<%- JSON.stringify(graph) %>`);
            const daywise = newarr.day
            anychart.onDocumentReady(function () {

                var chart = anychart.line();

                var day = chart.line(daywise);
                day.name("Day");

                // add a legend
                chart.legend().enabled(true);

                // add a title
                chart.title("Sales Report");

                // specify where to display the chart
                chart.container("container");

                // draw the resulting chart
                chart.draw();

                chart.yAxis().title("Sales ");
                chart.xAxis().title("Time");


                day.hovered().markers().type("circle").size(8);

            });


        </script>
        <%- include('head/footer') %>