<%- include('head/header') %>
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">

    <div id="page-content-wrapper">
        <div class="container" style="margin-left: 248px;">
            <div class="row mt-5">
                <div class="col-lg-12">
                    <h1 class="shadow">Orders</h1>
                    <% if (locals.message) { %>
                        <div class="alert alert-dismissible fade show alert-<%= message.type%>" role="alert">
                            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
                            <strong>
                                <%= message.message %>
                            </strong>
                        </div>
                        <% } %>
                            <div class="col-md-6 container" id="select"></div>

                            <div style="padding-left: 20px; padding-right: 20px; margin-top: 80px;" id="inner">
                                <table class="table table-top shadow" id="orderTable">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col"> Invoice Number</th>
                                            <th scope="col">Order date</th>
                                            <th scope="col">coupon Discount</th>
                                            <th scope="col">Discount on product</th>
                                            <th scope="col">Wallet amount</th>
                                            <th scope="col">Total Amount</th>
                                            <th scope="col">payment Method</th>
                                            <th scope="col">Order Status</th>
                                            <th scope="col"></th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <% if (order && order!==null) { %>
                                            <% for( let i=0; i < order.length; i++ ) { %>
                                                <tr style="height: 80px; ">
                                                    <td>
                                                        <%= order[i].invoice %>
                                                    </td>
                                                    <td style="width: 200px;">
                                                        <%= order[i].date.toISOString().split('T')[0] %>
                                                    </td>
                                                    <% let rupee=new Intl.NumberFormat('en-IN', { style: 'currency' ,
                                                        currency: 'INR' , }); %>
                                                        <td>
                                                            <%= rupee.format(order[i].couponDiscount) %>
                                                        </td>
                                                        <td>
                                                            <%= rupee.format(order[i].ProductDiscount) %>
                                                        </td>
                                                        <td>
                                                            <%= rupee.format(order[i].walletAmount) %>
                                                        </td>
                                                        <td>
                                                            <%= rupee.format(order[i].totalAmount+order[i].couponDiscount+order[i].walletAmount+order[i].ProductDiscount)
                                                                %>
                                                        </td>
                                                        <td>
                                                            <%= order[i].paymentMethod %>
                                                        </td>
                                                        <td>
                                                            <%= order[i].products[0].status %>
                                                        </td>
                                                        <td class="d-flex">
                                                            <button class="btn btn-outline-dark float-end"
                                                                onclick="viewOrders(`<%= JSON.stringify({id:order[i]._id,totalAmount:order[i].totalAmount,paymentMethod:order[i].paymentMethod,addressName:order[i].address.addressName,addressPhone:order[i].address.addressPhone,date:order[i].date.toISOString().split('T')[0]}) %>`)"><i
                                                                    class="fa-solid fa-eye fs-4"></i></button>
                                                            <% if (order[i].products[0].status!=='CANCELLED' ||
                                                                order[i].products[0].status!=='DELIVERED' ) { %>
                                                                <% if (order[i].refund) { %>
                                                                    <button class="btn btn-outline-danger ms-2"
                                                                        onclick="refund('<%= order[i]._id %>')">Refund</button>
                                                                    <% }else{ %>
                                                                        <button
                                                                            onclick="showform('<%= order[i]._id %>')"
                                                                            type="button"
                                                                            class="btn btn-outline-success ms-4"><i
                                                                                class="fa-regular fa-pen-to-square"></i></button>
                                                                        <% } %>

                                                                            <% }else{ %>
                                                                                <% if (order[i].refund) { %>
                                                                                    <button
                                                                                        class="btn btn-outline-danger ms-2"
                                                                                        onclick="refund('<%= order[i]._id %>')">Refund</button>
                                                                                    <% } %>
                                                                                        <% } %>
                                                        </td>
                                                </tr>
                                                <% } %>
                                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/static/admin/order.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script>
        let table = new DataTable('#orderTable');
    </script>

    <%- include('head/footer') %>