<%- include('head/header') %>

<div id="page-content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>USERS</h1>
          
          <% if (users!="") { %>
            <table class="table border">
              <thead>
                <tr>
                  <th scope="col">sl.no</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Mobile</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% users.forEach((row,index) => { %>
                  <tr>
                    <td><%= index+1 %></td>
                    <td><%= row.name %></td>
                    <td><%= row.email %></td>
                    <td><%= row.phone %></td>
                    <td><% if (row.isDeleted) { %>
                      <a style="width: 80px;" onclick="return confirm('You want to unblock this User ?')" class="text-success btn btn-success text-white fw-bold" href="/users/Unblock/<%= row._id %>">Unblock</a>
                    <% }else{ %>
                      <a style="width: 80px;" onclick="return confirm('You want to Block this User ?')" class="text-danger btn btn-danger text-white fw-bold" href="/users/block/<%= row._id %>">Block</a>
                      <% } %>
                  </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          <% }else{ %>
            <div class="text-center text-secondary mt-5">
              <h1>No Users found in the Database</h1>
          </div>
            <% } %>
        </div>
      </div>
    </div>
  </div>

<%- include('head/footer') %>