<%- include('head/header') %>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
  <style>
    .category a {
            text-decoration: none;
            color: black;
        }

        .category-item {
            background-color: #f8f9fa;
            border-radius: 5px;
            padding: 5px;
            width: 24.5%;
            text-align: center;
            box-shadow: 0 0 10px rgb(73, 72, 72);
            transition: all 0.3s ease-in-out;

        }

        .category-item:hover {
            transform: translateY(5px);
            box-shadow: 0 0 30px rgba(239, 5, 5, 0.2);
        }

        .category-item:hover .category-item a {
            color: red;
        }

        @media (min-width:830px) {
            .category {
                position: sticky;
                top: 0%;
                z-index: 2;
                background: rgb(222, 220, 220);
                font-family: 'Oswald', sans-serif;
                display: flex;
                justify-content: space-between;
                overflow-x: scroll;
                overflow-y: visible;
            }

            .category-item {
                font-size: 22px;
                width: 350px;
            }
        }

        @media (max-width:830px) {
            .category {
                position: sticky;
                top: 0%;
                z-index: 2;
                background: rgb(222, 220, 220);
                font-family: 'Oswald', sans-serif;
                display: flex;
                justify-content: space-between;
                overflow-x: scroll;
                overflow-y: visible;
            }

            .category-item {
                font-size: 15px;
                width: 350px;
            }
        }

        @media (max-width:480px) {
            .category {
                position: sticky;
                top: 0%;
                z-index: 2;
                background: rgb(222, 220, 220);
                font-family: 'Oswald', sans-serif;
                display: flex;
                justify-content: space-between;
                overflow-x: scroll;
                overflow-y: visible;
            }

            .category-item {
                font-size: 9px;
                width: 350px;
            }
        }

        .category::-webkit-scrollbar {
            display: none;
        }
  </style>
  <!-- categoryes -->
  <div class="category">
    <% if (categoryNames && categoryNames!==null) { %>
      <% for( let i=0; i < categoryNames.length; i++ ) { %>
          <a href="/view-categorie-products/<%= categoryNames[i] %>">
            <div class="category-item ">
            <%= categoryNames[i] %>
          </div>
          </a>
        <% } %>
          <% } %>
  </div>
  <!-- /categoryes -->

  <section style="background-color: #f7efef;">
    <div class="container">
      <div class="row mt-4">
        <h2 class="text-center"><%= categorie %></h2>
      </div>
      <div class="row mt-5 mx-auto">
        <% filterResult.forEach((row,index)=> { %>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 shadow mb-4">
            <a style="text-decoration: none; color: black;" href="/productDetails/<%= row._id %>">
              <div class="card">
                <img src="http://localhost:3000/<%= row.image[0] %>" class="card-img-top" alt="<%= row.image %>">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= row.name %>
                  </h5>


                  <i style="color: #f6dcdc;" class="fas fa-heart float-end fs-1 pb-5"
                    onclick="addToWishlist('<%= row._id %>'); return false;" id="heart<%= row._id %>"></i>

                  <% if (row.stock==0) { %>
                    <p class="text-danger">out of stock</p>
                    <% } %>
                      <% if (row.discount!==0) { %>
                        <small class="text-success">
                          <%= row.discount+" %off" %>
                        </small>
                        <p class="card-text text-success"><del class="text-danger">
                            <%= row.price %>
                          </del> <i class="fa-solid fa-indian-rupee-sign text-dark"></i>
                          <%= row.price-(row.price*row.discount/100) %>
                        </p>
                        <% }else{ %>
                          <p class="card-text"><i class="fa-solid fa-indian-rupee-sign"></i>
                            <%= row.price %>
                          </p>
                          <% } %>


                            <!-- <div class="d-flex mt-3">
                              <% if (row.cart) { %>
                                <a href="/carts" class="btn btn-warning py-3 fw-bold">Go
                                  to carts</a>
                                <% }else{ %>
                                  <button class="btn btn-warning py-3 fw-bold"
                                                                onclick="addToCart('<%= JSON.stringify({id:row._id,name:row.name,price:row.price,image:row.image[0],description:row.description}) %>'); return false;">Add
                                                                to Cart</button>
                                  <% } %>
                                    <a href="#" class="btn btn-danger ms-3 py-3 fw-bold">Buy
                                      Now</a>
                            </div> -->
                </div>
              </div>
            </a>
          </div>
          <% }) %>


      </div>

    </div>
  </section>
  <!-- <script>
    async function addToCart(data) {
            const productDetails = JSON.parse(data);
            const response = await fetch(`/carts/add/${productDetails.id}/${productDetails.name}/${productDetails.price}/${productDetails.image}/${productDetails.description}`, { method: 'get' })
            const resBody = await response.json()
            if (resBody.success) {
                localStorage.removeItem('CouponDetails')
            } else {
                alert(resBody.message)
            }
        }
  </script> -->

  <%- include('head/footer') %>