<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user-dashboard</title>
    <link rel="stylesheet" href="/static/user.css">
    <script src="https://kit.fontawesome.com/718fa3d4ba.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand fs-1 fw-normal ms-4 text-white" href="/persons">Spare<span
                        class="text-dark">KIT</span></a>
            </div>
        </nav>
    </header>

    <section class="bg-light py-5">
        <div class="container">

            <div class="row">

                <div class="col-xl-8 col-lg-8 mb-4">
                    <div class="row" id="inner">
                        <% if (addressDetails && addressDetails.length) { %>
                            <% for( let i=0; i < addressDetails.length; i++ ) { %>
                                <div class="card col-md-12 form-group p-2" id="address<%= addressDetails[i]._id %>">
                                    <div>
                                        <b>
                                            <%= addressDetails[i].name %>
                                                <%= addressDetails[i].phone %>
                                        </b>
                                        <button
                                            onclick="editAddress('<%= JSON.stringify({ id: addressDetails[i]._id, name: addressDetails[i].name, phone: addressDetails[i].phone, fullAddress: addressDetails[i].fullAddress, landmark: addressDetails[i].landmark, pinCode: addressDetails[i].pinCode, alternativePhone: addressDetails[i].alternativePhone, district: addressDetails[i].district }) %>')"
                                            class="float-end me-3" style="text-decoration: none;">EDIT</button>

                                    </div>

                                    <p class="mt-3">
                                        <%= addressDetails[i].fullAddress %>,<%= addressDetails[i].landmark %>,<%=
                                                    addressDetails[i].pinCode %>,<%= addressDetails[i].alternativePhone
                                                        %>,<%= addressDetails[i].district %>,
                                    </p>
                                    <div class="d-flex col-md-8 mb-4">
                                        <a href="/carts/payment_option/<%= addressDetails[i]._id %>/<%= addressDetails[i].name %>/<%= addressDetails[i].phone %>"><botton class="btn btn-warning p-2 me-5 fw-bold">Deliver Here</botton></a>
                                        <button onclick="addressDelete('<%= addressDetails[i]._id %>')"
                                            class="border-0"><i class="fa fa-trash mr-1 text-danger"></i>Remove</button>
                                    </div>

                                </div>
                                <% } %>
                                    <% }else{ %>
                                        <div class="card col-md-12 form-group p-5 alert-warning">
                                            <b>Address list is empty</b>
                                        </div>
                                        <% } %>
                    </div>
                    <h5 class="ms-2 mb-3 mt-3"><b>Checkout</b></h5>

                    <div class="card shadow-0 border">
                        <div class="p-4">
                            <hr class="my-4" />
                            <div id="form">
                                <% if (!addressDetails) { %>
                                    <div class="row" id="form1">
                                        <div class="col-sm-6 mb-3 col-12">
                                            <p class="mb-0">Name</p>
                                            <div class="form-outline">
                                                <input type="text" id="name" placeholder="Type here"
                                                    class="form-control p-3" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-12 mb-3">
                                            <p class="mb-0">Mobile</p>
                                            <div class="form-outline">
                                                <input type="text" id="phone" placeholder="Mobile"
                                                    class="form-control p-3" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12  col-12 mb-3">
                                            <p class="mb-0">Address</p>
                                            <div class="form-outline">
                                                <textarea name="address" id="address" cols="100" rows="3"
                                                    placeholder="type here..."></textarea>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-12 mb-3">
                                            <p class="mb-0">Pin code</p>
                                            <div class="form-outline">
                                                <input type="number" id="pin" placeholder="Type here"
                                                    class="form-control p-3" />
                                            </div>
                                        </div>

                                        <div class="col-sm-6  col-12 mb-3">
                                            <p class="mb-0">District</p>
                                            <select class="form-select p-3" id="district">
                                                <option value="">Choose</option>
                                                <option value="Malappuram">Malappuram</option>
                                                <option value="Kozhikode">Kozhikode</option>
                                                <option value="Thrissur">Thrissur</option>
                                                <option value="Trivandrum">Trivandrum</option>
                                                <option value="Pathanamthitta">Pathanamthitta</option>
                                                <option value="Kasarkode">Kasarkode</option>
                                                <option value="Eranakulam">Eranakulam</option>
                                                <option value="Alappuzha">Alappuzha</option>
                                                <option value="Idukki">Idukki</option>
                                                <option value="Kannur">Kannur</option>
                                                <option value="Kollam">Kollam</option>
                                                <option value="Kottayam">Kottayam</option>
                                                <option value="Palakkad">Palakkad</option>
                                                <option value="Palakkad">Palakkad</option>
                                            </select>
                                        </div>



                                        <div class="col-sm-6 col-12 mb-3">
                                            <p class="mb-0">Landmark</p>
                                            <div class="form-outline">
                                                <input type="text" id="Landmark" class="form-control p-3" />
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-12 mb-3">
                                            <p class="mb-0">Alternative mobile number</p>
                                            <div class="form-outline">
                                                <input type="number" id="alternumber" class="form-control p-3" />
                                            </div>
                                        </div>
                                    </div>
                                    <% }else{ %>
                                        <div class="card col-md-12 form-group d-flex p-3 btn btn-outline-primary"
                                            onclick="showform()">
                                            + Add new Address
                                        </div>
                                        <% } %>
                            </div>


                        </div>
                    </div>
                    <!-- Checkout -->
                </div>
                <div class="col-md-12 col-lg-4 col-sm-12">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0">Summary</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    Price(<%= totalProducts %> items)
                                        <span id="actualamount">
                                            <%= totalAmount %>
                                        </span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Discount
                                    <span>0</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Shipping
                                    <span>Free</span>
                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>Total amount</strong>
                                        <strong>
                                            <p class="mb-0">(including VAT)</p>
                                        </strong>
                                    </div>
                                    <span><strong id="totalAmount">Rs.<%= totalAmount %></strong></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        async function addNewAddress() {
            name = document.getElementById('name').value
            phone = document.getElementById('phone').value
            address = document.getElementById('address').value
            pin = document.getElementById('pin').value
            district = document.getElementById('district').value
            landmark = document.getElementById('Landmark').value
            alterNumber = document.getElementById('alternumber').value

            addressData = {
                name: name,
                phone: phone,
                fullAddress: address,
                pinCode: pin,
                district: district,
                landmark: landmark,
                alternativePhone: alterNumber
            }
            const response = await fetch('/users/address', {
                method: 'post',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(addressData)
            })
            const resBody = await response.json()
            console.log(resBody.message)
            clear()
            getAddress()
            document.getElementById('form1').innerHTML = `<div class="card col-md-12 form-group d-flex p-3 btn btn-outline-primary" onclick="showform()">
                                                + Add new Address
                                            </div>`
        }
        async function addNewAddress() {
            name = document.getElementById('name').value
            phone = document.getElementById('phone').value
            address = document.getElementById('address').value
            pin = document.getElementById('pin').value
            district = document.getElementById('district').value
            landmark = document.getElementById('Landmark').value
            alterNumber = document.getElementById('alternumber').value

            addressData = {
                name: name,
                phone: phone,
                fullAddress: address,
                pinCode: pin,
                district: district,
                landmark: landmark,
                alternativePhone: alterNumber
            }
            const response = await fetch('/users/address', {
                method: 'post',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(addressData)
            })
            const resBody = await response.json()
            console.log(resBody.message)
            clear()
            getAddress()
            document.getElementById('form1').innerHTML = `<div class="card col-md-12 form-group d-flex p-3 btn btn-outline-primary" onclick="showform()">
                                                + Add new Address
                                            </div>`
        }
        async function updateAddress(id) {
            console.log(`the id reached at updateAddress function${id}`)
            name = document.getElementById('name').value
            phone = document.getElementById('phone').value
            address = document.getElementById('address').value
            pin = document.getElementById('pin').value
            district = document.getElementById('district').value
            landmark = document.getElementById('Landmark').value
            alterNumber = document.getElementById('alternumber').value

            addressData = {
                name: name,
                phone: phone,
                fullAddress: address,
                pinCode: pin,
                district: district,
                landmark: landmark,
                alternativePhone: alterNumber
            }
            const response = await fetch(`/users/updateAddress/${id}`, {
                method: 'post',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(addressData)
            })
            const resBody = await response.json()
            console.log(resBody.message)
            clear()
            getAddress()
            document.getElementById(`address${id}`).innerHTML = ``
        }

        async function getAddress() {
            const response = await fetch('/users/address_get', { method: 'get' });
            const resBody = await response.json()
            if (!resBody.addressList) {
                document.getElementById('inner').innerHTML = `<div id="inner" class="row">
                <div class="card col-md-12 form-group">
                    <b>Address list is empty</b>
                </div>   
            </div>`
            } else {
                let x = ''
                for (let i = 0; i < resBody.addressList.address.length; i++) {
                    x += `<div class="card col-md-12 form-group p-2" id="address${resBody.addressList.address[i]._id}">
                        <div>
                            <b>${resBody.addressList.address[i].name}      ${resBody.addressList.address[i].phone}</b>
                            <button onclick="editAddress('{ id: ${resBody.addressList.address[i]._id}, name: ${resBody.addressList.address[i].name}, phone: ${resBody.addressList.address[i].phone}, fullAddress: ${resBody.addressList.address[i].fullAddress}, landmark: ${resBody.addressList.address[i].landmark}, pinCode: ${resBody.addressList.address[i].pinCode}, alternativePhone: ${resBody.addressList.address[i].alternativePhone}, district: ${resBody.addressList.address[i].district} }')" class="float-end me-3" style="text-decoration: none;">EDIT</button>
                            </div>
                    
                    <p class="mt-3">${resBody.addressList.address[i].fullAddress},${resBody.addressList.address[i].landmark},${resBody.addressList.address[i].pinCode},${resBody.addressList.address[i].alternativePhone},${resBody.addressList.address[i].district}</p>
                    <div class="d-flex col-md-8 mb-4">
                        <a href="/carts/payment_option/${resBody.addressList.address[i]._id}">
                        <botton class="btn btn-warning p-2 me-5 fw-bold">Deliver Here</botton>
                    </a>
                        <button onclick="addressDelete('${resBody.addressList.address[i]._id}')" class="border-0"><i class="fa fa-trash mr-1 text-danger"></i>Remove</button>
                        </div>
                    
                </div>`
                }
                document.getElementById('inner').innerHTML = x
            }
        }

        function clear() {
            console.log('clear function called...')
            document.getElementById('name').value = ''
            document.getElementById('phone').value = ''
            document.getElementById('address').value = ''
            document.getElementById('pin').value = ''
            document.getElementById('district').value = ''
            document.getElementById('Landmark').value = ''
            document.getElementById('alternumber').value = ''
        }
        function showform() {
            document.getElementById('form').innerHTML = `<div class="row" id="form1">
                                        <div class="col-sm-6 mb-3 col-12">
                                            <p class="mb-0">Name</p>
                                            <div class="form-outline">
                                                <input type="text" id="name" placeholder="Type here"
                                                    class="form-control p-3" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-12 mb-3">
                                            <p class="mb-0">Mobile</p>
                                            <div class="form-outline">
                                                <input type="text" id="phone" placeholder="Mobile"
                                                    class="form-control p-3" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12  col-12 mb-3">
                                            <p class="mb-0">Address</p>
                                            <div class="form-outline">
                                                <textarea name="address" id="address" cols="100" rows="3"
                                                    placeholder="type here..."></textarea>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-12 mb-3">
                                            <p class="mb-0">Pin code</p>
                                            <div class="form-outline">
                                                <input type="number" id="pin" placeholder="Type here"
                                                    class="form-control p-3" />
                                            </div>
                                        </div>

                                        <div class="col-sm-6  col-12 mb-3">
                                            <p class="mb-0">District</p>
                                            <select class="form-select p-3" id="district">
                                                <option value="">Choose</option>
                                                <option value="Malappuram">Malappuram</option>
                                                <option value="Kozhikode">Kozhikode</option>
                                                <option value="Thrissur">Thrissur</option>
                                                <option value="Trivandrum">Trivandrum</option>
                                                <option value="Pathanamthitta">Pathanamthitta</option>
                                                <option value="Kasarkode">Kasarkode</option>
                                                <option value="Eranakulam">Eranakulam</option>
                                                <option value="Alappuzha">Alappuzha</option>
                                                <option value="Idukki">Idukki</option>
                                                <option value="Kannur">Kannur</option>
                                                <option value="Kollam">Kollam</option>
                                                <option value="Kottayam">Kottayam</option>
                                                <option value="Palakkad">Palakkad</option>
                                                <option value="Palakkad">Palakkad</option>
                                            </select>
                                        </div>



                                        <div class="col-sm-6 col-12 mb-3">
                                            <p class="mb-0">Landmark</p>
                                            <div class="form-outline">
                                                <input type="text" id="Landmark" class="form-control p-3" />
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-12 mb-3">
                                            <p class="mb-0">Alternative mobile number</p>
                                            <div class="form-outline">
                                                <input type="number" id="alternumber" class="form-control p-3" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group float-end pt-3">
                                <button onclick="addNewAddress()" class="btn btn-primary px-3 float-end"><i
                                        class="fa fa-address-card mr-1"></i> Add new Address</button>
                            </div>`
        }

        async function addressDelete(id) {
            console.log(`id is ${id}`)
            const response = await fetch(`/users/delete_address/${id}`, { method: "get" })
            const resBody = await response.json()
            if (resBody.addressList) {
                let x = ''
                for (let i = 0; i < resBody.addressList.address.length; i++) {
                    x += `<div class="card col-md-12 form-group d-flex">
                    <b>${resBody.addressList.address[i].name}      ${resBody.addressList.address[i].phone}</b>
                    <p class="mt-3">${resBody.addressList.address[i].fullAddress},${resBody.addressList.address[i].landmark},${resBody.addressList.address[i].pinCode},${resBody.addressList.address[i].alternativePhone},${resBody.addressList.address[i].district}</p>
                    <div class="d-flex col-md-8 mb-4">
                        <botton class="btn btn-warning p-2 me-5 fw-bold" onclick="">Deliver Here</botton>
                        <button onclick="addressDelete('${resBody.addressList.address[i]._id}')" class="border-0"><i class="fa fa-trash mr-1 text-danger"></i>Remove</button>
                        </div>
                    
                </div>`
                }
                document.getElementById('inner').innerHTML = x
                console.log('address successfully deleted...')
            } else {
                console.log('A Trouble detected while deleting the address details.')
            }
        }
        function editAddress(data) {
            const addressData = JSON.parse(data);
            console.log(`${addressData.name} phone: ${addressData.id}`)
            document.getElementById(`address${addressData.id}`).innerHTML = `<div class="row" id="form1">
                                        <div class="col-sm-6 mb-3 col-12">
                                            <p class="mb-0">Name</p>
                                            <div class="form-outline">
                                                <input type="text" id="name" value="${addressData.name}" placeholder="Type here"
                                                    class="form-control p-3" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-12 mb-3">
                                            <p class="mb-0">Mobile</p>
                                            <div class="form-outline">
                                                <input type="text" id="phone" value="${addressData.phone}" placeholder="Mobile"
                                                    class="form-control p-3" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12  col-12 mb-3">
                                            <p class="mb-0">Address</p>
                                            <div class="form-outline">
                                                <textarea name="address" id="address" value="${addressData.fullAddress}" cols="100" rows="3"
                                                    placeholder="type here..."></textarea>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-12 mb-3">
                                            <p class="mb-0">Pin code</p>
                                            <div class="form-outline">
                                                <input type="number" id="pin" value="${addressData.pinCode}" placeholder="Type here"
                                                    class="form-control p-3" />
                                            </div>
                                        </div>

                                        <div class="col-sm-6  col-12 mb-3">
                                            <p class="mb-0">District</p>
                                            <select class="form-select p-3" id="district" >
                                                <option value="${addressData.district}">Choose</option>
                                                <option value="Malappuram">Malappuram</option>
                                                <option value="Kozhikode">Kozhikode</option>
                                                <option value="Thrissur">Thrissur</option>
                                                <option value="Trivandrum">Trivandrum</option>
                                                <option value="Pathanamthitta">Pathanamthitta</option>
                                                <option value="Kasarkode">Kasarkode</option>
                                                <option value="Eranakulam">Eranakulam</option>
                                                <option value="Alappuzha">Alappuzha</option>
                                                <option value="Idukki">Idukki</option>
                                                <option value="Kannur">Kannur</option>
                                                <option value="Kollam">Kollam</option>
                                                <option value="Kottayam">Kottayam</option>
                                                <option value="Palakkad">Palakkad</option>
                                                <option value="Palakkad">Palakkad</option>
                                            </select>
                                        </div>



                                        <div class="col-sm-6 col-12 mb-3">
                                            <p class="mb-0">Landmark</p>
                                            <div class="form-outline">
                                                <input type="text" id="Landmark" value="${addressData.landmark}" class="form-control p-3" />
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-12 mb-3">
                                            <p class="mb-0">Alternative mobile number</p>
                                            <div class="form-outline">
                                                <input type="number" id="alternumber" value="${addressData.alternativePhone}" class="form-control p-3" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group float-end pt-3">
                                <button onclick="updateAddress('${addressData.id}')" class="btn btn-primary px-3 float-end"><i
                                        class="fa fa-address-card mr-1"></i> Update address</button>
                            </div>`
        }
    </script>



    <%- include('head/footer') %>