<%- include('head/header') %>
<style>
    a :hover{
        background: rgb(97, 97, 96);
        color: rgb(250, 249, 249);
    }
</style>
    <div class="container-fluid" style="background-color: #f7efef;">
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar fs-5 fw-normal" >
                <div class="position-sticky">
                        <a class="nav-link text-dark" href="/profile">
                            <div class="nav-item p-3">
                            My Account
                            </div>
                        </a>
                        <a class="nav-link text-dark" href="/carts/orders">
                            <div class="nav-item p-3">
                            Orders
                            </div>
                        </a>
                        <a class="nav-link text-dark" href="#">
                            <div class="nav-item p-3">
                            wishlist
                            </div>
                        </a>
                </div>
            </nav>
            
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Order Listing</h1>
                </div>
                <div class="table-responsive mb-5 mt-5">
                    <table class="table table-bordered mb-5 shadow">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>Customer Name</th>
                                <th>Order Date</th>
                                <th>Total Amount</th>
                                <th>Payment Method</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (data) { %>
                                <% data.forEach((row,index)=> { %>
                                    <tr>
                                        <td><%= row.address[0].addressName %></td>
                                        <td><%= row.date.toISOString().split('T')[0] %></td>
                                        <td><%= row.totalAmount %></td>
                                        <td><%= row.paymentMethod %></td>
                                        <td><% if (row.isCancelled) { %>
                                                <p class="text-danger">CANCELLED</p>
                                                <% }else{ %>
                                                    <%= row.products[0].status %>
                                                    <% } %>
                                        </td>
                                        <td>
                                            <% if (!row.isCancelled) { %>
                                                <a href="/carts/cancelOrder/<%= row._id %>"
                                                    class="btn btn-danger">Cancel</a>
                                                    <!-- <button onclick="cancelOrder('<%= row._id %>')" class="btn btn-danger">Cancel</button> -->
                                                <% } %>
                                                    <a href="/carts/view_order/<%= row._id %>/<%= row.totalAmount %>/<%= row.paymentMethod %>/<%= row.address[0].addressName %>/<%= row.address[0].addressPhone %>/<%= row.date.toISOString().split('T')[0] %>"
                                                        class="btn btn-primary float-end">View</a>
                                        </td>
                                    </tr>

                                    <% }) %>
                                        <% }else{ %>
                                            <H1>No data</H1>
                                            <% } %>

                        </tbody>
                    </table>
                </div>

            </main>
        </div>
    </div>
    <ul class="pagination " style="margin-left: 47%;">
        <% for (let i=1; i <=totaPages; i++) { %>
            <li class="page-item <%= i === currenPage ? 'active' : '' %> m-1">
                <a class="page-link" href="/carts/orders/?page=<%= i %>">
                    <%= i %>
                </a>
            </li>
            <% } %>
    </ul>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>

    </script>

    <%- include('head/footer') %>