<%- include('head/header') %>

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar fs-4 fw-normal border-bottom border-top"
                style="background: rgb(36, 108, 149);">
                <div class="position-sticky">
                    <ul class="nav flex-column p-2">
                        <a class="nav-link text-white" href="/persons/profile">
                            <li class="nav-item"></li>
                            My Account
                            </li>
                        </a>
                        <hr class="my-4" />
                        <a class="nav-link text-white" href="#">
                            <li class="nav-item"></li>
                            Orders
                            </li>
                        </a>
                        <hr class="my-4" />

                        <a class="nav-link text-white" href="#">
                            <li class="nav-item"></li>
                            wishlist
                            </li>
                        </a>

                        <!-- Add more sidebar items as needed -->
                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Order Listing</h1>
                </div>
                <div class="table-responsive mb-5 mt-5">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Customer Name</th>
                                <th>Order Date</th>
                                <th>Total Amount</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (data) { %>
                                <% data.orders.forEach((row,index)=> { %>
                                    <tr>
                                        <td>
                                            <%= index+1 %>
                                        </td>
                                        <td>
                                            <%= row.address[0].addressName %>
                                        </td>
                                        <td>
                                            <%= row.date.toISOString().split('T')[0] %>
                                        </td>
                                        <td>
                                            <%= row.totalAmount %>
                                        </td>
                                        <td>
                                            <% if (row.isCancelled) { %>
                                                <p class="text-danger">Cancelled</p>
                                                <% }else{ %>
                                                    <%= row.products[0].status %>
                                                    <% } %>
                                        </td>
                                        <td>
                                            <% if (!row.isCancelled) { %>
                                                <a href="/carts/cancelOrder/<%= row._id %>"
                                                    class="btn btn-danger">Cancel</a>
                                                    <!-- <button onclick="cancelOrder('<%= row._id %>')" class="btn btn-danger">Cancel</button> -->
                                                <% } %>
                                                    <a href="/carts/view_order/<%= row._id %>"
                                                        class="btn btn-primary float-end">View</a>
                                        </td>
                                    </tr>

                                    <% }) %>
                                        <% }else{ %>
                                            <H1>No data</H1>
                                            <% } %>

                        </tbody>
                    </table>
                </div>

            </main>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>

    </script>

    <%- include('head/footer') %>