<%- include('head/header') %>
    <style>
        a :hover {
            background: rgb(97, 97, 96);
            color: rgb(250, 249, 249);
        }
    </style>
    <div class="container-fluid" style="background-color: #f7efef;">
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar fs-4 fw-normal">
                <div class="position-sticky">
                    <a class="nav-link text-dark" href="/profile">
                        <div class="nav-item p-3">
                            My Account
                        </div>
                    </a>
                    <a class="nav-link text-dark" href="/carts/orders">
                        <div class="nav-item p-3">
                            Orders
                        </div>
                    </a>
                    <a class="nav-link text-dark" href="/wishlist">
                        <div class="nav-item p-3">
                            wishlist
                        </div>
                    </a>
                    <a class="nav-link text-dark" href="/wallet">
                        <div class="nav-item p-3">
                            Your Wallet
                        </div>
                    </a>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Order Listing</h1>
                </div>
                <div class="table-responsive mb-5 mt-5">
                    <% if (data && data.length) { %>
                        <table class="table table-bordered mb-5 shadow bg-light">
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th>Customer Name</th>
                                    <th>Order Date</th>
                                    <th>Coupon Discount</th>
                                    <th>Discount on Products</th>
                                    <th>wallet Amount</th>
                                    <th>Total Amount</th>
                                    <th>Payment Method</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <% data.forEach((row,index)=> { %>
                                    <tr>
                                        <td>
                                            <%= row.address.addressName %>
                                        </td>
                                        <td>
                                            <%= row.date.toISOString().split('T')[0] %>
                                        </td>
                                        <% let rupee=new Intl.NumberFormat('en-IN', { style: 'currency' ,
                                            currency: 'INR' , }); %>
                                            <td>
                                                <%= rupee.format(row.couponDiscount) %>
                                            </td>
                                            <td>
                                                <%= rupee.format(row.ProductDiscount) %>
                                            </td>
                                            <td>
                                                <%= rupee.format(row.walletAmount) %>
                                            </td>
                                            <td>
                                                <%= rupee.format(row.totalAmount+row.couponDiscount+row.walletAmount) %>
                                            </td>
                                            <td>
                                                <%= row.paymentMethod %>
                                            </td>
                                            <td>
                                                <% if (row.isCancelled) { %>
                                                    <p class="text-danger">CANCELLED</p>
                                                    <% }else{ %>
                                                        <%= row.products[0].status %>
                                                            <% } %>
                                            </td>
                                            <td>
                                                <i class="fa-solid fa-ellipsis-vertical dropdown-toggle-split"
                                                    data-bs-toggle="dropdown" aria-expanded="false"></i>
                                                <ul class="dropdown-menu shadow">
                                                    <% if (!row.isCancelled && row.products[0].status!=='RETURN' &&
                                                        row.products[0].status!=='DELIVERED' ) { %>
                                                        <li style="cursor: pointer;"
                                                            onclick="cancelOrder('<%= row._id %>')"><i
                                                                class="fa-solid fa-ban text-danger"></i> Cancel
                                                        </li>
                                                        <% } %>
                                                            <a style="text-decoration: none; color: black ;"
                                                                href="/carts/view_order/<%= row._id %>/<%= row.totalAmount %>/<%= row.paymentMethod %>/<%= row.address.addressName %>/<%= row.address.addressPhone %>/<%= row.date.toISOString().split('T')[0] %>/<%= row.invoice %>">
                                                                <li onclick="viewOrder('<%= row._id %>')">
                                                                    <i class="fa-regular fa-eye"></i> view
                                                                </li>
                                                            </a>
                                                            <% let currentDate=Date.now() %>
                                                                <% if (row.products[0].status==='DELIVERED' &&
                                                                    row.return_last_date> currentDate ) { %>
                                                                    <li style="cursor: pointer;"
                                                                        onclick="returnOrder('<%= row._id %>')">
                                                                        <i class="fa-solid fa-rotate-left"></i> return
                                                                    </li>
                                                                    <% } %>

                                                </ul>
                                            </td>
                                    </tr>

                                    <% }) %>


                            </tbody>
                        </table>
                        <% }else{ %>
                            <H1>Order list is Empty</H1>
                            <h5>order somthing.</h5>
                            <% } %>
                </div>

            </main>
        </div>
    </div>
    <%if(data && data.length){%>
        <ul class="pagination " style="margin-left: 47%;">
            <% for (let i=1; i <=totaPages; i++) { %>
                <li class="page-item <%= i === currenPage ? 'active' : '' %> m-1">
                    <a class="page-link" href="/carts/orders/?page=<%= i %>">
                        <%= i %>
                    </a>
                </li>
                <% } %>
        </ul>
        <%}%>


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script src="/static/user/orderlist.js"></script>


            <%- include('head/footer') %>