<%- include('head/header') %>
    <link rel="stylesheet" href="/static/user/popup.css">
    <style>
        a :hover {
            background: rgb(97, 97, 96);
            color: rgb(250, 249, 249);
            font-weight: 500;
        }

        .wallet-card {
            background-color: #f8f9fa;
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease-in-out;
        }

        .wallet-card:hover {
            transform: translateY(-9px);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        }
    </style>
    <section style="background-color: #f7efef;">

        <!-- popup  -->
        <div class="popup shadow" id="popup">
            <img src="https://cdn.pixabay.com/photo/2014/04/02/11/01/tick-305245_640.png" alt="">
            <h2>Success</h2>
            <p id="message-alert">Password changed successfully!</p>
            <button class="bttn" type="button" onclick="closePopup()">Ok</button>
        </div>

        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4 wallet-card">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3" id="customer-name">
                                <%= user.name %>
                            </h5>
                            <p class="text-muted mb-1" id="customer-email">
                                <%= user.email %>
                            </p>

                            <p class="text-muted mb-1" id="customer-phone">
                                <%= user.phone %>
                            </p>

                        </div>
                    </div>
                    <div class="card mb-4 mb-lg-0 shadow">
                        <div class="card-body p-0  wallet-card">
                            <a onclick="addressBook()" style="color: black; text-decoration: none; ">
                                <div class="side p-3">
                                    Address Book
                                </div>
                            </a>
                            <a href="/carts/orders" style="color: black; text-decoration: none;">
                                <div class="side p-3">
                                    My order
                                </div>
                            </a>
                            <a class="text-dark" onclick="changePasswordForm()" style="text-decoration: none;">
                                <div class="side p-3">
                                    Change Password
                                </div>
                            </a>
                            <a href="/wallet" style="color: black; text-decoration: none;">
                                <div class="side p-3">
                                    My Wallet
                                </div>
                            </a>
                            <a href="/users/logout" style="color: black; text-decoration: none;"
                                onclick="return confirm('are you sure ?')">
                                <div class="side p-3 wallet-card">
                                    Logout
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4 shadow wallet-card">
                        <div class="card-body" id="message"></div>
                        <div class="card-body" id="passForm1"></div>
                        <div class="card-body" id="passForm">
                            <div class="row m-5" id="nameData">
                                <div class="col-sm-3">
                                    <p class="mb-0 fs-5"><strong>Full Name</strong></p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0">
                                        <%= user.name %>
                                    </p>
                                </div>
                                <div class="col-sm-3">
                                    <button class="border-0 bg-light"
                                        onclick="editNameForm('<%= JSON.stringify({name:user.name}) %>')"><i
                                            class="fa-regular fa-pen-to-square text-primary"></i>EDIT</button>

                                </div>
                            </div>
                            <hr>
                            <div class="row m-5" id="emailData">
                                <div class="col-sm-3">
                                    <p class="mb-0 fs-5"><strong>Email Address</strong></p>
                                </div>
                                <div class="col-sm-6">
                                    <p class=" mb-0">
                                        <%= user.email %>
                                    </p>
                                </div>
                                <div class="col-sm-3">
                                    <button class="border-0 bg-light"
                                        onclick="editEmail('<%= JSON.stringify({email:user.email}) %>')"><i
                                            class="fa-regular fa-pen-to-square text-primary"></i>EDIT</button>
                                </div>
                            </div>
                            <hr>

                            <div class="row m-5" id="phoneData">
                                <div class="col-sm-3">
                                    <p class="mb-0 fs-5"><strong>Mobile Number</strong></p>
                                </div>
                                <div class="col-sm-6">

                                    <p class="mb-0">
                                        <%= user.phone %>
                                    </p>

                                </div>
                                <div class="col-sm-3">
                                    <button class="border-0 bg-light"
                                        onclick="editPhone('<%= JSON.stringify({phone:user.phone}) %>')"><i
                                            class="fa-regular fa-pen-to-square text-primary"></i>EDIT</button>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/static/user/profile.js"></script>
    <script src="/static/user/validateAddressform.js"></script>
    <%- include('head/footer') %>