<%- include('head/header') %>
    <style>
        .position-sticky a :hover {
            background: rgb(97, 97, 96);
            color: rgb(250, 249, 249);
        }
    </style>
    <div class="container-fluid" style="background-color: #f7efef;">
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-3 d-md-block sidebar fs-4 fw-normal shadow">
                <div class="position-sticky">
                    <a class="nav-link text-dark" href="/profile">
                        <div class="nav-item p-3">
                            My Account
                        </div>
                    </a>
                    <a class="nav-link text-dark" href="/carts/orders">
                        <div class="nav-item p-3">
                            Orders
                        </div>
                    </a>
                    <a class="nav-link text-dark" href="/wishlist">
                        <div class="nav-item p-3">
                            wishlist
                        </div>
                    </a>
                    <a class="nav-link text-dark" href="/wallet">
                        <div class="nav-item p-3">
                            Your Wallet
                        </div>
                    </a>
                </div>
            </nav>
            <div class="col-lg-9 col-md-12 mb-5">
                <!-- start -->

                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
                    integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+z0I5tuz5ydIOStE2KfxU5DSr7Q4iQqNXOYO8Zi"
                    crossorigin="anonymous">
                <!-- Font Awesome -->
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
                    rel="stylesheet">
                <style>
                    /* Custom styles */
                    .wallet-card {
                        background-color: #f8f9fa;
                        border-radius: 15px;
                        padding: 20px;
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                        transition: all 0.3s ease-in-out;
                    }

                    .wallet-card:hover {
                        transform: translateY(-5px);
                        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
                    }

                    .balance {
                        font-size: 2rem;
                    }

                    .transaction-history li {
                        border: none;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    }

                    .transaction-time {
                        font-size: 0.8rem;
                        color: #888;
                    }
                </style>
                <% let rupee=new Intl.NumberFormat('en-IN', { style: 'currency' , currency: 'INR' , }); %>
                    <div class="container pt-4">
                        <h1 class="text-center mb-4">Your Wallet</h1>

                        <div class="row">
                            <div class="col-md-6 mt-3">
                                <div class="wallet-card py-5">
                                    <h5 class="card-title">Balance</h5>
                                    <p class="balance">Rs. <%= rupee.format(balance) %>
                                    </p>
                                    <!-- <a href="#" class="btn btn-primary">Withdraw</a> -->
                                </div>
                            </div>

                            <div class="col-md-6 wallet-card mt-3">

                                <h3>Add Funds</h3>
                                <!-- <form> -->
                                <div class="mb-3">
                                    <input type="number" class="form-control" id="amount" name="amount"
                                        placeholder="Enter amount">
                                </div>
                                <button type="" class="btn btn-primary" onclick="addFunds()">Add Funds</button>
                                <!-- </form> -->
                                <br>
                                <span id="Errormsg" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mt-5 ms-4">
                                    <div class="wallet-card">
                                        <h5 class="card-title">Transaction History</h5>
                                        <ul class="list-group transaction-history" id="transactions">
                                            <% if (wallet.length) { %>
                                                <% let rupee=new Intl.NumberFormat('en-IN', { style: 'currency' ,
                                                    currency: 'INR' , }); %>

                                                    <% for( let i=0; i < 8; i++ ) { %>
                                                        <li
                                                            class="list-group-item d-flex justify-content-between align-items-center">
                                                            <div>
                                                                <% if (wallet[0].wallet[i].type==='credited' ) { %>
                                                                    <i
                                                                        class="fas fa-arrow-circle-down text-danger me-2"></i>
                                                                    <span class="text-danger">paid - Rs. <%=
                                                                            rupee.format(wallet[0].wallet[i].amount) %>
                                                                    </span>
                                                                    <% }else{ %>
                                                                        <i
                                                                            class="fas fa-arrow-circle-up text-success me-2"></i>
                                                                        <span class="text-success">received -
                                                                            Rs. <%=
                                                                                rupee.format(wallet[0].wallet[i].amount)
                                                                                %></span>
                                                                        <% } %>

                                                                            <p class="transaction-desc">
                                                                                <%= wallet[0].wallet[i].description %>
                                                                            </p>
                                                            </div>
                                                            <span class="transaction-time">
                                                                <%= wallet[0].wallet[i].time.toLocaleDateString() %> -
                                                                    <%= wallet[0].wallet[i].time.toLocaleTimeString([],
                                                                        { hour: '2-digit' , minute: '2-digit' }); %>
                                                            </span>
                                                        </li>
                                                        <% } %>



                                                            <% }else{ %>
                                                                <h3>No transactions</h3>
                                                                <% } %>
                                        </ul>
                                        <p onclick="lessPage()" style="display: none;" id="less">Less</p>
                                        <i onclick="morePage()"
                                            class="fa-regular fa-circle-down fs-3 mt-2 text-secondary"
                                            style="margin-left: 50%;" id="morePage"></i>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>



                    <!-- end -->
            </div>


        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
        </script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/static/user/wallet.js"></script>

    <%- include('head/footer') %>