<%- include('head/header') %>
    <style>
        .position-sticky a :hover {
            background: rgb(97, 97, 96);
            color: rgb(250, 249, 249);
        }

        .wallet-card {
            background-color: #f8f9fa;
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease-in-out;
        }

        .wallet-card:hover {
            transform: translateY(-9px);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        }
    </style>
    <div class="container-fluid" style="background-color: #f7efef;">
        <div class="row px-3">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-3 d-md-block sidebar fs-4 fw-normal">
                <div class="position-sticky">
                    <a class="nav-link text-dark" href="/profile">
                        <div class="nav-item p-3">
                            My Account
                        </div>
                    </a>
                    <a class="nav-link text-dark" href="/carts/orders">
                        <div class="nav-item p-3">
                            Orders
                        </div>
                    </a>
                    <a class="nav-link text-dark" href="/wishlist">
                        <div class="nav-item p-3">
                            wishlist
                        </div>
                    </a>
                    <a class="nav-link text-dark" href="/wallet">
                        <div class="nav-item p-3">
                            Your Wallet
                        </div>
                    </a>
                </div>
            </nav>
            <div class="col-lg-7 col-md-9">
                <% if (wishlist && wishlist!==null && wishlist.length) { %>
                    <% wishlist.forEach((row,index)=> { %>
                        <a style="text-decoration: none; color: black;" href="/productDetails/<%= row.productId._id %>">
                            <div class="row shadow bg-light mt-4 mb-4 wallet-card">
                                <div class="col-12 col-md-3"><img src="<%= row.productId.image[0] %>"
                                        alt="Image will load..." style="width: 100%;"></div>
                                <div class="col-12 col-md-9">
                                    <i class="fa-solid fa-trash float-end mt-5 me-5 fs-4"
                                        onclick="removeWishlist('<%= row._id %>')"></i>
                                    <h3 class="mt-5">
                                        <%= row.productId.name %>
                                    </h3>
                                    <% if (row.productId.discount!==0) { %>
                                        <p class="text-success">Discount: <%= row.productId.discount +' %off' %></p>
                                        <p><strong>Price: <del class="text-danger">Rs.<%= row.productId.price %></del> <p class="fs-4 text-success"><i class="fa-solid fa-indian-rupee-sign"></i> <%= row.productId.price-(row.productId.price*row.productId.discount/100) %></p> </strong></p>
                                    <% }else{ %>
                                        <p class="fw-bold"><i class="fa-solid fa-indian-rupee-sign"></i> <%= row.productId.price %>
                                        <% } %>
                                    
                                    </p>
                                </div>
                            </div>
                        </a>
                        <% }) %>
                            <% }else{ %>
                                <div class="bg-light w-100 p-5 shadow mt-5 mb-5">
                                    <h2 class="p-5 border shadow">Wishlist is Empty!</h2>
                                </div>
                                <% } %>

            </div>


        </div>
    </div>

    <script>
        async function removeWishlist(id) {
            const response = await fetch(`/remove-wishlist/${id}`, { method: 'get' })
            const resBody = await response.json()
            if (resBody.success) {
                location.reload()
            } else {
                alert(resBody.message)
            }
        }
    </script>


    <%- include('head/footer') %>